.box {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: inherit;
    width: 100px;
    height: 100px;
    height: 400px;
    color: #fff;
    font-size: 20px;
    background-color: blue;
    transform: translate(-50%, -50%);
}